### 데이터 활용 방법  - 전치 
- 행과 열을 서로 바꾸는 것

- 방법
    
    -(1) 메서드 : 변수명.transpose()
    
    -(2) 속성 : 변수명.T

In [1]:
# [1] 모듈 로딩
import pandas as pd

In [2]:
# [2] 데이터 준비
file_name='data.csv'

In [7]:
# [3] csv ---> DataFrame 형태로 저장
csvDF = pd.read_csv(file_name)

In [20]:
# [4] DF 변경 : 행 ==> 열 , 열 ==> 행
print("변경전", csvDF.index, csvDF.columns, sep='\n\n')

# 속성 T 사용
csvDF=csvDF.T
print("변경후", csvDF.index, csvDF.columns, sep='\n\n')

csvDF

변경전

Index(['no', 'name', 'age', 'gender'], dtype='object')

RangeIndex(start=0, stop=5, step=1)
변경후

RangeIndex(start=0, stop=5, step=1)

Index(['no', 'name', 'age', 'gender'], dtype='object')

  no  name age gender
0  1  Hong  10      F
1  2  Park  13      F
2  3   Kim  12      M
3  4   Lee  16      F
4  5  Yoon  15      F

In [21]:
# 매서드 transpose()사용
csvDF=csvDF.transpose()
print("변경후", csvDF.index, csvDF.columns, sep='\n\n')

csvDF

변경후

Index(['no', 'name', 'age', 'gender'], dtype='object')

RangeIndex(start=0, stop=5, step=1)

           0     1    2    3     4
no         1     2    3    4     5
name    Hong  Park  Kim  Lee  Yoon
age       10    13   12   16    15
gender     F     F    M    F     F