### [DataFrame의 인덱스 다루기 - 1]
- 인덱스 종류 : 행 인덱스, 열 인덱스

- 특정 열을 행 인덱스로 설정하는 방법

- 메서드 : df.set_index( 열 인덱스 , inplace = False )

In [2]:
# [1] 모듈 로딩
import pandas as pd

In [3]:
# [2] 데이터 준비
jumsu={'name':['마징가','태권브이','원더우먼'],
        'kor' : [89,100,99],
        'eng' : [70,80,90],
        'math' : [99,88,77]}

In [4]:
# [3] Dict ==> DataFrame 형태로 저장
jumsuDF=pd.DataFrame(jumsu)

jumsuDF

   name  kor  eng  math
0   마징가   89   70    99
1  태권브이  100   80    88
2  원더우먼   99   90    77

In [5]:
# [4]  name 컬럼을 행 인덱스로 설정
DF2=jumsuDF.set_index('name')
DF2

      kor  eng  math
name
마징가    89   70    99
태권브이  100   80    88
원더우먼   99   90    77

In [6]:
jumsuDF

   name  kor  eng  math
0   마징가   89   70    99
1  태권브이  100   80    88
2  원더우먼   99   90    77

In [7]:
# DF2 데이터프레임의 행 인덱스/열 인덱스 확인
print(DF2.index,DF2.columns, sep='\n')

Index(['마징가', '태권브이', '원더우먼'], dtype='object', name='name')
Index(['kor', 'eng', 'math'], dtype='object')

In [8]:
# [5] 데이터 추출
# - '마징가'의 성적 추출, 행 추출 ==> 변수명.loc[] or 변수명.iloc[]
print(DF2.loc['마징가'])
print(DF2.iloc[0])

kor     89
eng     70
math    99
Name: 마징가, dtype: int64
kor     89
eng     70
math    99
Name: 마징가, dtype: int64

In [9]:
# [5] 데이터 추출
# - '마징가','원더우먼'의 성적 추출, 행 추출 ==> 변수명.loc[] or 변수명.iloc[]
# 여러개는 데이터프레임으로 [ [ ] ] 
print(DF2.loc[['마징가','원더우먼']])
print(DF2.iloc[[0,2]])

      kor  eng  math
name
마징가    89   70    99
원더우먼   99   90    77
      kor  eng  math
name
마징가    89   70    99
원더우먼   99   90    77

In [10]:
# [6] 영어점수 컬럼을 행인덱스로 설정
DF3=jumsuDF.set_index('eng')
DF3

     name  kor  math
eng
70    마징가   89    99
80   태권브이  100    88
90   원더우먼   99    77

In [11]:
# [6] name, eng 컬럼을 행 인덱스 설정 ==> 멀티 인덱스
DF4 = jumsuDF.set_index(['name','eng'])

          kor  math
name eng
마징가  70    89    99
태권브이 80   100    88
원더우먼 90    99    77

In [12]:
print(DF4.index)

MultiIndex([( '마징가', 70),
            ('태권브이', 80),
            ('원더우먼', 90)],
           names=['name', 'eng'])

In [ ]:
## 멀티인덱스에서 행 추출
# DF4.loc[('마징가',70),
#         ('태권브이',80),
#         ('원더우먼',90)],
#         names=['name','eng']