### [Series 연산 - 3 ]
- 원소값이 비어있는 경우

- 인덱스가 서로 다른 Series

In [34]:
# 모듈 준비
import pandas as pd
import math
import numpy as np

In [35]:
# 빈칸 즉, 비어있다는 의미를  나타내는 문자 ==> pandas에 없음
# 그래서 math 모듈과 numpy 패키지 사용
math.nan , np.NaN

(nan, nan)

In [36]:
# 데이터준비
merona=[32,700,1200,1500]

In [37]:
# [3] 1D List ==> Series 형태 저장
sr2=pd.Series(merona)

In [38]:
print(sr2,sep='\n\n')

0      32
1     700
2    1200
3    1500
dtype: int64

In [39]:
# [4] 연산 수행 : Series + 숫자
sr2 + 5

0      37
1     705
2    1205
3    1505
dtype: int64

In [40]:
# [4-2] 연산 수행 : Series + Series
sr2 + 5

0      37
1     705
2    1205
3    1505
dtype: int64

In [ ]:
# - 비교 연산
sr1 != sr2

In [ ]:
# [5] 인덱스가 다른 Seiries끼리 연산 수행
# - sr3 생성 : sr2에서 인덱스 변경 [0,1,2,3] ==>[0,2,3,4]
sr2.index[0,2,3,4]
sr2

In [42]:
# [6] NaN에 대한 연산 수행을 못하는 것 해결 위한 메서드 제공
# - fill_value : 빈 칸 즉, NaN에 값을 지정
# sr1.add (sr2, fill_value=-1.)

In [44]:
# - 인덱스가 다른 Series 연산에서 메서드 사용
sr3 = sr2.rename(index={1:2, 2:3, 3:4})
sr2.add(sr3, fill_value=0.0)

0      64.0
1     700.0
2    1900.0
3    2700.0
4    1500.0
dtype: float64