### [Series & DataFrame 연산]

In [23]:
# [1] 모듈 준비
import pandas as pd
import numpy as np

In [24]:
# [2] 데이터 준비
file_name='data1.csv'

In [25]:
# [3] CSV file ==> DataFrame 형태 저장
csvDF=pd.read_csv(file_name, header=None)

In [26]:
csvDF

    0   1   2
0  10  20  30
1  90  80  70
2  66  55  44
3  90  90  90
4   5   5   5

In [27]:
# [4] 연산 실습
# 0번 컬럼과 2번 컬럼을 덧셈 연산 수행
result= csvDF[0] + csvDF[1] + csvDF[2]
result

0     60
1    240
2    165
3    270
4     15
dtype: int64

In [28]:
# 3개 컬럼 덧셈 결과를 새로운 컬럼으로 추가
csvDF['total']=result

In [29]:
# 행 5추가 -> 데이터 : 각 컬럼의 값을 모두 더한 값
result2=csvDF.loc[0]+csvDF.loc[1]+csvDF.loc[2]+csvDF.loc[3]+csvDF.loc[4]
csvDF.loc[5]=result2
csvDF

     0    1    2  total
0   10   20   30     60
1   90   80   70    240
2   66   55   44    165
3   90   90   90    270
4    5    5    5     15
5  261  250  239    750

In [30]:
# [5] 연산 수행 매서드 : 합계 sum(), 최대값 max(), 최소값 min()
SR0=csvDF[0]
print(SR0)
print("합계 :",SR0.sum())
print("최대값 :",SR0.max())
print("최소값 :",SR0.min())

0     10
1     90
2     66
3     90
4      5
5    261
Name: 0, dtype: int64
합계 : 522
최대값 : 261
최소값 : 5

In [31]:
# DataFrame으로 연산 수행 메서드 
csvDF

     0    1    2  total
0   10   20   30     60
1   90   80   70    240
2   66   55   44    165
3   90   90   90    270
4    5    5    5     15
5  261  250  239    750

In [32]:
# 데이터프레임 합계 계산
# 각 행 데이터를 모아서 합계 수행 , 그래서 컬럼 마다 행들을 모아서 합계를 수정

print("합계 :",csvDF.sum())

# 각 컬럼 데이터를 모아서 합계 수행 , 그래서 행 마다 컬럼들을 모아서 합계를 수정
print("합계 :",csvDF.sum(axis=1))

합계 : 0         522
1         500
2         478
total    1500
dtype: int64
합계 : 0     120
1     480
2     330
3     540
4      30
5    1500
dtype: int64

In [33]:
# DataFrame 최대값 계산
print("최대값 :",csvDF.max())

print("최대값 :",csvDF.max(axis=1))

최대값 : 0        261
1        250
2        239
total    750
dtype: int64
최대값 : 0     60
1    240
2    165
3    270
4     15
5    750
dtype: int64

#### 연산과 데이터 추출
- 연산결과와 데이터 추출 함께 진행

In [34]:
# Total이 100 이상인 데이터만 추출
# 비교연산 결과 ==> True or False : Boolean Index
bool_index=csvDF.total > 100

In [36]:
# Boolean Index 즉, 인덱스로 특정 데이터 추출에 사용 가능
# csvDF[컬럼인덱스], csvDF.iloc[행인덱스], csvDF.loc[행인덱스]
csvDF[bool_index]

     0    1    2  total
1   90   80   70    240
2   66   55   44    165
3   90   90   90    270
5  261  250  239    750