### [멀티인덱스]
 - 2개 이상의 행과 열로 구성된 인덱스

In [37]:
# [1] 모듈 로딩
import pandas as pd

In [38]:
# [2] 데이터 준비
file1 = 'test_data3.csv'

In [39]:
# [3] csv ==> DF로 저장
DF1 = pd.read_csv(file1)
DF1

   index col1  col2  col3
0   2020   서울    10    20
1   2020   대구    11    22
2   2021   서울    10    20
3   2021   대구    11    22
4   2021   대구    12    23

In [40]:
# [4] 데이터 추출
# [4-1] 대구 관련 데이터만 추출
DF1[DF1['col1']=='대구']

   index col1  col2  col3
1   2020   대구    11    22
3   2021   대구    11    22
4   2021   대구    12    23

In [41]:
# [4-2] index와 col1 컬럼을 행 인덱스로 설정
DF2=DF1.set_index(['index','col1'])
DF2
# index -> level 0
# col1 -> level 1

            col2  col3
index col1
2020  서울      10    20
      대구      11    22
2021  서울      10    20
      대구      11    22
      대구      12    23

In [42]:
# 인덱스 속성
DF2.index, DF2.values

(MultiIndex([(2020, '서울'),
             (2020, '대구'),
             (2021, '서울'),
             (2021, '대구'),
             (2021, '대구')],
            names=['index', 'col1']),
 array([[10, 20],
        [11, 22],
        [10, 20],
        [11, 22],
        [12, 23]], dtype=int64))

In [43]:
# 2020년도 대구 데이터 추출 / 값 변경
DF2.loc[(2020,'대구')]=[9,9]
DF2

C:\Users\kdp\AppData\Local\Temp\ipykernel_17824\3170366790.py:2: PerformanceWarning: indexing past lexsort depth may impact performance.
  DF2.loc[(2020,'대구')]=[9,9]

            col2  col3
index col1
2020  서울      10    20
      대구       9     9
2021  서울      10    20
      대구      11    22
      대구      12    23

In [44]:
# 2021년도 대구 데이터 추출
DF2.loc[(2021,'대구')]=[3,3]

C:\Users\kdp\AppData\Local\Temp\ipykernel_17824\235989376.py:2: PerformanceWarning: indexing past lexsort depth may impact performance.
  DF2.loc[(2021,'대구')]=[3,3]

In [45]:
# 행 추가 --> (년도, 지역명)
# 2022를 행으로 인식하고 부산을 column으로 인식되버림
# [행, 열] 형태로 인식해서 열추가됨
# DF2.loc[(2022,'부산')] = 0        => 결론 : 이렇게 쓰면 안됨
DF2.loc[(2022,'부산'), : ] = 0

C:\Users\kdp\AppData\Local\Temp\ipykernel_17824\2304588419.py:5: PerformanceWarning: indexing past lexsort depth may impact performance.
  DF2.loc[(2022,'부산'), : ] = 0

In [46]:
DF2.loc[(2022,'마산'), : ] = [3,4]

C:\Users\kdp\AppData\Local\Temp\ipykernel_17824\3780132736.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  DF2.loc[(2022,'마산'), : ] = [3,4]
C:\Users\kdp\AppData\Local\Temp\ipykernel_17824\3780132736.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  DF2.loc[(2022,'마산'), : ] = [3,4]

In [ ]:
# 시리즈는 iterable 이 아니기때문에 값이 들어가지 않음
DF2.loc[(2022,'울산'), : ] = pd.Series({'col2':8, 'col3':8})

In [49]:
DF2.loc[(2022,'경산'), : ] = [pd.Series({'col2':8, 'col3':8})]

C:\Users\kdp\AppData\Local\Temp\ipykernel_17824\3762000730.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  DF2.loc[(2022,'경산'), : ] = [pd.Series({'col2':8, 'col3':8})]
C:\Users\kdp\AppData\Local\Temp\ipykernel_17824\3762000730.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  DF2.loc[(2022,'경산'), : ] = [pd.Series({'col2':8, 'col3':8})]

In [50]:
DF2

            col2  col3
index col1
2020  서울    10.0  20.0
      대구     9.0   9.0
2021  서울    10.0  20.0
      대구     3.0   3.0
      대구     3.0   3.0
2022  부산     0.0   0.0
      마산     3.0   4.0
      울산     NaN   NaN
      경산     8.0   8.0