#### [ 중복데이터 처리 ]
- 중복 데이터 검사 후 처리 ---> 삭제

- [주의] 중복 데이터를 모두 삭제하는 것은 아님!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    * 데이터의 특성을 확인 후 결정 해야 함

In [19]:
# [1] 모듈 로딩
import pandas as pd

In [20]:
# [2] 데이터 준비
file_name = 'data.csv'

In [21]:
# [3] csv => DataFrame 형태로 저장
csvDF=pd.read_csv(file_name)

In [22]:
# [4] 데이터 확인
csvDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   no      6 non-null      int64
 1   name    5 non-null      object
 2   age     5 non-null      float64
 3   gender  6 non-null      object
dtypes: float64(1), int64(1), object(2)
memory usage: 320.0+ bytes

In [23]:
# 컬럼별 타입과 실제 데이터 확인    
csvDF.head(2), csvDF.tail(2)

(   no  name   age gender
 0   1  Hong  10.0      F
 1   2   NaN  13.0      F,
    no  name   age gender
 4   5  Yoon   NaN      F
 5   3   Kim  12.0      M)

In [24]:
# [5] 데이터 전처리
# [5-1] 결측치

In [25]:
# [5-2] 중복데이터 검사 및 처리
# - keep 매개변수 : 어느 것을 중복 데이터로 취급할지 설정
#                   기본값이 first
csvDF.duplicated()

0    False
1    False
2    False
3    False
4    False
5     True
dtype: bool

In [26]:
# - 중복 데이터 처리
csvDF.drop_duplicates(keep=False)

   no  name   age gender
0   1  Hong  10.0      F
1   2   NaN  13.0      F
3   4   Lee  12.0      F
4   5  Yoon   NaN      F

In [27]:
# - 나이 컬럼만 중복 여부 체크
csvDF.duplicated(subset=['age'])

0    False
1    False
2    False
3     True
4    False
5     True
dtype: bool