#### CSV 파일 DF으로 저장

- pandas.read_csv() 함수 사용

In [1]:
# 모듈 로딩
import pandas as pd

In [6]:
# 데이터 준비 - 파일
data_file=r'C:\Users\kdp\Desktop\KDT\EX_PANDAS06\DAY02\data.csv'
data_file1=r'C:\Users\kdp\Desktop\KDT\EX_PANDAS06\DAY02\data1.csv'

In [3]:
# CSV 파일 ==> DataFrame으로 저장
csvDF=pd.read_csv(data_file)

In [12]:
# 저장된 DF 확인
csvDF, csvDF.columns, csvDF.index

(   no  name  age gender
 0   1  Hong   10      F
 1   2  Park   13      F
 2   3   Kim   12      M
 3   4   Lee   16      F
 4   5  Yoon   15      F,
 Index(['no', 'name', 'age', 'gender'], dtype='object'),
 RangeIndex(start=0, stop=5, step=1))

In [14]:
# csv 파일 ===> DF 로 저장
csvDF1=pd.read_csv(data_file1, sep=' ', header=None)
csvDF1

   0     1   2  3
0  1  Hong  10  F
1  2  Park  13  F
2  3   Kim  12  M
3  4   Lee  16  F
4  5  Yoon  15  F

In [10]:
csvDF1.columns

Index(['1 Hong 10 F'], dtype='object')

In [11]:
csvDF1.index

RangeIndex(start=0, stop=4, step=1)